.navBrand {
  font-size: 40px;
  text-align: center;
  color: red;
}

.title-background {
  display: flex;
  padding-top: 1rem;
  height: 10rem;
  background-color: rgb(23, 23, 23);
}

.float-end {
  position: absolute;
  right: 3rem;
  top: 3.5rem;
  height: 3rem;
}

.title {
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  text-align: center;
  font-size: 100px;
  cursor: pointer;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(23, 23, 23);
}

.nav {
  padding-top: .5rem;
  padding-bottom: 0;
  background-image: linear-gradient(to left bottom, #4242b3, #7650b9, #9c61be, #bc75c5, #d88bcc);
}
.nav-item {
  text-align: center;
  width: 20%;
  font-size: large;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: white;
}

/* for movie and tv show nav */
.nav-item.dropdown{
  text-align: left;
  width: 40%;
  font-size: large;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color:black;
}