.popup-container {
  background-color: rgb(194, 204, 224);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.cardImg {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: auto;
  width: 20rem;
}

.closeBtn {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
}

h5 {
  margin-top: 20px;
  text-align: center;
}

.description {
  color: black;
  text-align: center;
}

.popup-header {
  height: 3rem;
  background-color:rgb(40, 50, 69);
}